@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*
{
    margin: 0;
    border: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(12, 13, 14, 100%); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(255,4,102,1) 0%, rgba(255,157,0,1) 100%);; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

nav
{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 10vh;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-items: center;
}

a
{
    animation: icons 2s;
}

a:hover
{
    animation: iconsHover 1200s;
}

#credit
{
    position: absolute; 
    bottom: 5pt; 
    right: 10pt; 
    color: orangered;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

#credit:hover
{
    color: white;
    text-decoration: underline;
}


.headline 
{
    position: relative;
    box-sizing: border-box;
    margin: auto;
    background:rgb(12, 12, 12);
    color:rgb(10, 10, 10);
    padding-bottom:0px;
}
  
.headline:after 
{
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin-bottom: -3px;
    background: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128));
    width: 0%;
    animation: line-gradient 1s ease forwards;
}

#headline
{

    margin: 0;
    padding-top: 0vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 100px;
    color: white;
    /* opacity: 0%; */
    z-index: 3;
    animation: fade-in 1s ease forwards;
}
     
.spacer 
{
    height: 100px;
    width: 2000px;
}

.wrapper
{   
    position: absolute;
    background-image: url(/images/background\ 2.jpg);
    width: 100%;
    height: 100%;
    overflow: clip;
    z-index: -1;
}

.box div
{
    position: absolute;
    height: 70px;
    width: 70px;
    background-origin: center;
    background: url(./images/logo.png);
    background-color: transparent;
    border: 6px solid rgba(255, 123, 0, 0.8);
}

.box div:nth-child(1)
{
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2)
{
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3)
{
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4)
{
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5)
{
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6)
{
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7)
{
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8)
{
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9)
{
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10)
{
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes icons{
    0%{
        transform: scale(1.5) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1) translateY(0) rotate(0);
        opacity: 1;
    }
}

@keyframes iconsHover{
    0%{
        transform: scale(1) translateY(0) rotate(0);
        opacity: 1;
    }
    0.1%{
        transform: scale(1.5) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.5) translateY(0) rotate(0);
        opacity: 1;
    }
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes line-gradient{
    to {
        width: 100%;
    }
}

@keyframes fade-in{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}